<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/" enctype="multipart/form-data" method="post">
        <div th:if="${error != null}">
            [[${error}]]
        </div>

        <div th:if="${message != null}">
            [[${message}]]
        </div>

        <input type="file" name="file" required>
        <button type="submit">Register</button>
    </form>
    <img th:if="${photoUrl != null}" th:src="${photoUrl}" alt="Photo">
</div>
</body>
</html>
